[Desktop Entry]
Encoding=UTF-8
Name=CrocodileCash
Comment=CrocodileCash P2P Cryptocurrency
Comment[fr]=CrocodileCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CrocodileCash, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/CrocodileCash-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/CrocodileCash;
Categories=Office;
